table, th, td {

  border-top: 2px solid rgb(168, 167, 167);
  border-collapse:collapse;
  width: 150px;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 70%;
  text-align: center;


}

.TitleLoja{
text-align: center;
  }


.tablecss{
  display: flex;
  width: 100%;

}

.title{
  background-color: rgb(221, 221, 221);
}

.search{

  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;


}

